body {
    padding-top: 60px;
}

.header {
    background: var(--prim);
    border: none;
    border-bottom: solid 1px var(--sec);
    text-transform: none;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header > a {
    line-height: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    
    color: inherit;
    text-decoration: inherit;
}
.header > a > img {
    aspect-ratio: 1;
    width: 40px;
}
.header > a > h2 {
    color: var(--sec);
    text-decoration: none;
    font-weight: 400;
}
