@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

html {
    height: 100vh;
    
    --prim: #f6851e;
    --sec: #242129;
    --silver: #e1e0e4;
}
body {
    background: var(--silver);
}

.minLink {
    --col1: black;
    --col2: white;
    
    background: transparent;
    border-radius: 5px;
    color: var(--col1);
    text-decoration: none;
    font-weight: 400;
    
    padding: 10px;
    
    transition: background 0.1s, color 0.1s, font-weight 0.1s;
}
.minLink:hover {
    background: var(--col1);
    color: var(--col2);
    font-weight: 800;
}
